/*Reset JP*/
.box {
	display:block;
	height:auto;
	overflow:hidden;
}
@mixin box {
	display:block;
	height:auto;
	overflow:hidden;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.fcenter {
	margin:0 auto;
}
.fwidth {
	width:100%;
}
.fheight{
    height: 100%;
}
p, a {
	margin:0;
	padding:0;
}
.text-center {
  text-align:center;
}
.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
a {
	text-decoration:none;
}
.ocultar {
	display:none;
	visibility:hidden;
}
.mostrar {
	display:block;
	visibility:visible;
}
.no-column {
	padding-left:0;
	padding-right:0;
}
.pl0 {
    padding-left: 0;
}
.pr0 {
    padding-right: 0;
}
ul {
    li {
        list-style: none;
    }
}
@mixin transicion {
    transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
    -webkit-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
    -moz-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
    -o-transition: all 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
}

@mixin cover {
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
}

h1, h2, h3, h4, h5, h6, p, button {
	margin:0;
	padding:0;
}
.table {
	display:table;
	width:100%;
	height:100%;
}
.table-cell {
	display:table-cell;
	width:100%;
	height:100%;
	vertical-align:middle;
}
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
	@include transicion;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
